@import "~bootstrap/dist/css/bootstrap.min.css";
.header {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(238, 91, 177);
  font-size: 400%;
}

.bg-pink {
  background-color: rgb(235, 154, 228);
}
